* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  columns: $grey;
  font-family: "Open Sans", sans-serif;
  font-size: $s-size;
  background: white;
  line-height: 1.6;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}
